<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
  <!--  -->
    <appSettings>
      <add key="RepositoryType" value="Repository.Service.Service,
           Repository.Service, Version=1.0.0.0, Culture=neutral"/>
    </appSettings>

  <!--
  <appSettings>
    <add key="RepositoryType" value="Repository.CSV.CSV,
              Repository.CSV, 
              Version=1.0.0.0, Culture=neutral"/>
    <add key="CSVFileName" value="people.txt"/>
  </appSettings>
-->
</configuration>